body{
  background-color: royalblue;
}

.App{
  background-color: cyan;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-list input{
  background-color: rosybrown;
  border: 0;
  width: 200px;
  border-radius: 10px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  color: white;
}

#to-do-list input::placeholder{
  color: whitesmoke;
}

#to-do-list input:focus{
  outline: none;
}

#to-do-list button{
  background-color: rosybrown;
  border: 0;
  width: 100px;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
  font-weight: bolder;
  color: white;
}

#to-do-list button:focus{
  outline: none;
}